.elementor-1033609
  .elementor-element.elementor-element-745a829d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1033609
  .elementor-element.elementor-element-745a829d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000;
}
.elementor-1033609 .elementor-element.elementor-element-745a829d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  color: #ffffff;
  padding: 76px 0px 8px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-745a829d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-745a829d
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-1033609
  .elementor-element.elementor-element-745a829d
  > .elementor-container {
  text-align: left;
}
.elementor-1033609
  .elementor-element.elementor-element-659f0bdf
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 10px 10px 50px 10px;
}
.elementor-1033609
  .elementor-element.elementor-element-18a6d0e0
  > .elementor-widget-container {
  margin: 0px 15px 0px 0px;
}
.elementor-1033609 .elementor-element.elementor-element-3392b7b9 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7em;
}
.elementor-1033609
  .elementor-element.elementor-element-3392b7b9
  > .elementor-widget-container {
  margin: 0px 0px 6px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(13px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(13px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(13px / 2);
  margin-left: calc(13px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-13px / 2);
  margin-left: calc(-13px / 2);
}
body.rtl
  .elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-13px / 2);
}
body:not(.rtl)
  .elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-13px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #c73e04;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #c73e04;
}
.elementor-1033609 .elementor-element.elementor-element-24d14689 {
  --e-icon-list-icon-size: 15px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  --icon-vertical-offset: 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-item
  > a {
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #c73e04;
}
.elementor-1033609
  .elementor-element.elementor-element-24d14689
  > .elementor-widget-container {
  padding: 0px 0px 0px 2px;
}
.elementor-1033609
  .elementor-element.elementor-element-57431d1d
  > .elementor-element-populated {
  padding: 10px 10px 50px 10px;
}
.elementor-1033609
  .elementor-element.elementor-element-3e7183e5
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-1033609
  .elementor-element.elementor-element-3e7183e5
  > .elementor-widget-container {
  margin: 7px 0px 11px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-2a5f308c
  .wdk-row
  .wdk-col {
  margin-bottom: 27px;
}
.elementor-1033609 .elementor-element.elementor-element-2a5f308c .wdk-row {
  margin-bottom: -27px;
}
.elementor-1033609
  .elementor-element.elementor-element-2a5f308c
  .wdk-listings-list
  .listing-item
  .listing-img-sec
  img {
  object-fit: cover;
}
.elementor-1033609
  .elementor-element.elementor-element-2a5f308c
  .wdk-listings-list
  .listing-item
  .listing-inf-sec
  .title {
  color: #ffffff;
}
.elementor-1033609
  .elementor-element.elementor-element-2a5f308c
  .wdk-listings-list
  .listing-item
  .listing-inf-sec
  .title:hover {
  color: #c73e04;
}
.elementor-1033609
  .elementor-element.elementor-element-2a5f308c
  .wdk-listings-list
  .listing-item
  .listing-inf-sec
  .price {
  color: #c73e04;
}
.elementor-1033609
  .elementor-element.elementor-element-6db1ce1e
  > .elementor-element-populated {
  padding: 10px 10px 50px 10px;
}
.elementor-1033609
  .elementor-element.elementor-element-32b98cf7
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-1033609
  .elementor-element.elementor-element-32b98cf7
  > .elementor-widget-container {
  margin: 7px 0px 11px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(19px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(19px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(19px / 2);
  margin-left: calc(19px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-19px / 2);
  margin-left: calc(-19px / 2);
}
body.rtl
  .elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-19px / 2);
}
body:not(.rtl)
  .elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-19px / 2);
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-icon
  i {
  color: #c73e04;
  transition: color 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-icon
  svg {
  fill: #c73e04;
  transition: fill 0.3s;
}
.elementor-1033609 .elementor-element.elementor-element-4355319e {
  --e-icon-list-icon-size: 10px;
  --icon-vertical-offset: 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-icon {
  padding-right: 12px;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-item
  > a {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #c73e04;
}
.elementor-1033609
  .elementor-element.elementor-element-4355319e
  > .elementor-widget-container {
  padding: 8px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1033609
  .elementor-element.elementor-element-6ba75565.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-1033609
  .elementor-element.elementor-element-6ba75565.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1033609
  .elementor-element.elementor-element-6ba75565.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-1033609
  .elementor-element.elementor-element-6ba75565
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-6ba75565
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 10px 10px 50px 10px;
}
.elementor-1033609
  .elementor-element.elementor-element-da616d5
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-1033609
  .elementor-element.elementor-element-da616d5
  > .elementor-widget-container {
  margin: 7px 0px 11px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 11px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_container {
  margin-left: -10px;
  margin-right: -10px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group
  label {
  padding-bottom: 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group
  input.elementinvader_addons_for_elementor_f_field:not([type="radio"]):not(
    [type="checkbox"]
  ),
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group
  select.elementinvader_addons_for_elementor_f_field:not([type="radio"]):not(
    [type="checkbox"]
  ) {
  height: 45px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group
  .elementinvader_addons_for_elementor_f_field {
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group.elementinvader_addons_for_elementor_f_group_el_button
  button {
  background-color: #c73e04;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 14px 14px 14px;
  transition-duration: 35ms;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group.elementinvader_addons_for_elementor_f_group_el_button
  button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  .elementinvader_contact_form
  .elementinvader_addons_for_elementor_f
  .elementinvader_addons_for_elementor_f_group.elementinvader_addons_for_elementor_f_group_el_button
  button:hover {
  background-color: #a1813d;
}
.elementor-1033609
  .elementor-element.elementor-element-52e96d39
  > .elementor-widget-container {
  padding: 31px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-1033609 .elementor-element.elementor-element-57431d1d {
    width: 27.018%;
  }
  .elementor-1033609 .elementor-element.elementor-element-6db1ce1e {
    width: 20.92%;
  }
  .elementor-1033609 .elementor-element.elementor-element-6ba75565 {
    width: 27.018%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1033609 .elementor-element.elementor-element-659f0bdf {
    width: 50%;
  }
  .elementor-1033609 .elementor-element.elementor-element-57431d1d {
    width: 50%;
  }
  .elementor-1033609 .elementor-element.elementor-element-6db1ce1e {
    width: 50%;
  }
  .elementor-1033609 .elementor-element.elementor-element-6ba75565 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .elementor-1033609
    .elementor-element.elementor-element-659f0bdf
    > .elementor-element-populated {
    padding: 0px 15px 40px 15px;
  }
  .elementor-1033609 .elementor-element.elementor-element-3392b7b9 {
    text-align: center;
  }
  .elementor-1033609 .elementor-element.elementor-element-3e7183e5 {
    text-align: center;
  }
  .elementor-1033609 .elementor-element.elementor-element-32b98cf7 {
    text-align: center;
  }
  .elementor-1033609
    .elementor-element.elementor-element-6ba75565
    > .elementor-element-populated {
    padding: 0px 15px 50px 15px;
  }
  .elementor-1033609 .elementor-element.elementor-element-da616d5 {
    text-align: center;
  }
}
